@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
}

/* button style to scroll top */
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000000;
  display: none;
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #f1ae2b;
  border-color: #efa513;
  border-radius: 50rem !important;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #eeb84d;
  border-color: #efa513;
}

.btn-primary:active {
  color: #ffffff !important;
  background-color: #946b1a !important;
  border-color: #efa513 !important;
}

/* navbar custom css */
.navbar {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 50;
}

.navbarDark {
  background-color: rgba(0, 0, 0, 1);
  transition: all 1s;
}

.navbar .navbar-brand {
  padding: 8px 0 5px 5px;
  margin: 0;
}
.nav-item {
  text-transform: uppercase;
}
.nav-link {
  color: white !important;
  padding: 10px 15px !important;
}

.navbar-nav .dropdown-menu {
  color: black !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: #f1ae2b !important;
  border-bottom: 3px solid #f1ae2b !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f1ae2b !important;
  border-bottom: 3px solid #f1ae2b !important;
  transition-duration: 0.3s;
}

.navbar-nav .dropdown-menu .dropdown-item {
  font-size: 13px !important;
  background-color: transparent;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #f1ae2b !important;
  font-size: 13px !important;
}

@media (max-width: 765px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: none !important;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    border: 0.5px solid white;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: beige !important;
  }
  .navbar .navbar-brand {
    padding: 8px 0 5px 10px;
    margin: 0;
    height: 50px;
  }
  .navbar .navbar-brand {
    padding: 8px 0 5px 5px;
    margin: 0;
  }
  .navbar .navbar-brand {
    padding: 8px 0 3px 5px;
    margin: 0;
  }
  .navbar-dark .navbar-toggler {
    margin-right: 5px;
  }
}

/* welcome section custom css */

.section_welcome {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.section_welcome h1 {
  color: #f1ae2b;
  font-size: 90px;
  letter-spacing: 10px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .section_welcome h1 {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .section_welcome h1 {
    font-size: 40px;
  }
}
.welcome_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  background: #000000 url(./img1/slogan_bg.jpg) no-repeat center center / cover;
  z-index: -10;
  background-attachment: fixed;
}

.welcome_bg:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 555;
}

.welcome_content_subheading {
  font-size: 23px;
  font-family: "Oregano", cursive;
  letter-spacing: 0.05em;
}

.welcome_content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.welcome_content_logo i {
  display: block;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 15px;
}

.welcome_content_caption {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin: 10px 0 40px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.btn-default {
  background-color: #fce29b;
  border-color: #f1ae2b;
  color: #1b2d2f;
  transition: all 0.3s ease-out;
}
.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 25px;
}

.btn-default:hover {
  background-color: #c3850d;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .welcome_content_caption {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

/* About section custom css */

.section_about {
  margin-top: -50px;
  background-color: #ffffff;
  padding-top: 80px;
}

.section_title {
  color: #1b2d2f;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin: 35px 0;
  font-family: "Oregano", cursive;
  z-index: 10;
}

.section_about .section_title:before {
  content: "Story";
  position: absolute;
  top: -75%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #e7e7e7;
  font-size: 110px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 20px;
}

.section_about .section_title > span {
  z-index: 999;
  position: relative;
}

.section_title_line {
  border: none;
  height: 5px;
  width: 150px;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    #f1ae2b 50%,
    transparent 100%
  );
  background: linear-gradient(
    to right,
    transparent 0%,
    #f1ae2b 50%,
    transparent 100%
  );
}

.section_caption {
  text-align: center;
  padding: 0 20%;
  margin-bottom: 80px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .section_title {
    font-size: 25px;
    margin: 10px 0;
  }
  .section_about .section_title:before {
    font-size: 60px;
    letter-spacing: 15px;
  }

  .section_about .section_caption {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0 5%;
  }
}

.section_about_row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: #ffffff;
}

.section_about_row .about_img {
  width: 50%;
}

.section_about_row .about_img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section_about_row .about_desc {
  width: 50%;
  padding: 0 100px;
}

.section_about_row .about_desc_title {
  color: #1b2d2f;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .section_about_row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
  }
  .section_about_row .about_desc {
    padding: 30px 15px;
    width: 100%;
  }
  .section_about_row .about_img {
    width: 100%;
    order: -1;
  }
  .section_about_row .about_desc_title {
    font-size: 30px;
  }
}

/* slogan section */

.section_slogan {
  background: url(./img1/slogan_bg.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.section_slogan:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section_slogan .slogan_title {
  color: #f1ae2b;
  font-size: 95px;
  font-family: "Oregano", cursive;
}

.section_slogan .slogan_caption {
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8em;
  padding: 20px;
}

@media (max-width: 767px) {
  .section_slogan .slogan_title {
    font-size: 45px;
  }
  .section_slogan {
    padding: 60px 0;
    background-attachment: scroll;
  }
  .section_slogan .slogan_caption {
    font-size: 15px;
    padding: 15px;
  }
}

.section_gallery {
  background-color: #ffff;

  padding-top: 50px;
  padding-bottom: 100px;
}

.section_gallery .section_title:before {
  content: "Gallery";
  position: absolute;
  top: -75%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #e7e7e7;
  font-size: 110px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 20px;
  z-index: -1;
}

@media (max-width: 767px) {
  .section_gallery .section_title:before {
    font-size: 55px;
    letter-spacing: 8px;
  }
  .section_gallery {
    padding-bottom: 20px;
  }
}

/* gallery grid */

.gallery__grid .gallery__item > a {
  position: relative;
  display: block;
  text-decoration: none;
}

.gallery__grid .gallery__item {
  padding: 10px;
}

.section_gallery .gallery__grid .gallery__item > a:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(27, 45, 47, 0.6);
}

.gallery__grid .gallery__item > a:hover:before,
.gallery__grid .gallery__item > a:hover:after {
  opacity: 1;
}

.gallery__grid .gallery__item > a:before,
.gallery__grid .gallery__item > a:after {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
}

.section_gallery .gallery__grid .gallery__item > a:after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-weight: 900;
  font-size: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* review section */
.section_review .section_review_title {
  font-family: "Oregano", cursive;
  position: relative;
  color: #f1ae2b;
  font-size: 59px;
}

.section_review {
  background: url(./img1/review_bg.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  padding: 100px 0;
  position: relative;
}

.section_review:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section_review .carousel_review > .carousel-inner .carousel-item {
  width: 100%;
  height: auto;
  text-align: justify;
  color: white;
  padding: 40px 20px;
}

.section_review .carousel_review > .carousel-inner .carousel-item .review_text {
  font-size: 16px;
  line-height: 1.8;
  padding: 0 15px;
}

.section_review
  .carousel_review
  > .carousel-inner
  .carousel-item
  .review_author {
  font-size: 20px;
  color: #f1ae2b;
  margin: 15px;
  font-family: "Oregano", cursive;
}

.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -30px;
}

@media (max-width: 767px) {
  .carousel-control-prev {
    left: 0px;
    padding-right: 40px;
  }

  .section_review {
    padding: 25px 0;
  }

  .carousel-control-next {
    right: 0px;
    padding-left: 40px;
  }

  .section_review .carousel_review > .carousel-inner .carousel-item {
    padding: 30px 10px;
  }
  .section_review .section_review_title {
    padding-top: 0;
    font-size: 35px;
    text-align: center;
  }

  .section_review
    .carousel_review
    > .carousel-inner
    .carousel-item
    .review_text {
    font-size: 14px;
  }
}

/* section map heading */

.section_map-heading {
  background: url(./img1/map_bg.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
}
.section_map-heading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.section_map-heading .map__title {
  padding: 40px 0 20px 0;
  color: #f1ae2b;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.section_map-heading .map__address {
  color: #fff;
  font-size: 19px;
  padding-bottom: 40px;
}

.section_map-heading h2 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}

.white {
  background-color: white;
  padding: 15px 0;
  display: none;
}

@media (max-width: 991px) {
  .section_map-heading .map__title {
    font-size: 35px;
  }
  .section_map-heading .map__address {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section_map-heading .map__title {
    font-size: 30px;
    padding: 40px 0 10px 0;
  }
  .section_map-heading .map__address {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .section_map-heading {
    background-attachment: scroll;
  }
  .white {
    display: block;
  }
}

/* footer section */
.section_footer {
  background-color: Black;
  padding: 60px 0 30px;
}

.section_footer .section_footer_heading {
  color: #f1ae2b;
  font-size: 35px;
  font-family: "Oregano", cursive;
}

.section_footer p {
  line-height: 1.6;
  color: #f4f3de;
}

.section_footer ul > li {
  display: inline-block;
  list-style: none;
}

.section_footer p > a {
  color: inherit;
}

.section_footer p > a:hover {
  color: #f1ae2b;
}

.section_footer hr {
  border-top: 1px solid #c8c8c8;
  margin: 60px 0 30px;
}

.section_footer ul .social_icon:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.section_footer ul .social_icon {
  padding-left: 15px;
  font-size: 17px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_footer i {
  color: #f1ae2b;
}

.section_footer p > i {
  font-size: 15px;
  color: #f1ae2b;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .section_footer {
    text-align: center;
  }
  .section_footer h3 {
    padding-top: 10px;
  }

  .section_footer hr {
    margin: 10px 0 30px;
  }
}

/* about page header section */

.section_header {
  height: 40vh;
  width: 100%;
  padding: 0;
  position: relative;
}

.section_header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section_header .container {
  height: 100%;
  padding-top: 70px;
}

.section_header .container .section__heading {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.section_header .about_bg {
  background-image: url(./img1/gallery_bg.jpg);
}

.section_header .section_header__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section_header .container .section__heading {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  font-family: "Oregano", cursive;
  margin-top: 21px;
}

.breadcrumb {
  text-align: center !important;
  font-size: 15px;
  margin-top: -20px;
}

.breadcrumb > .active {
  color: #ffffff;
}

.breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}

a {
  color: #f1ae2b;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #c3850d;
  text-decoration: underline;
}

/* story section */
.section_story {
  padding: 10px 0 40px 0;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.6);
}

.section_story__quote {
  margin-top: 60px;
}

.section_story__quote .qoute__title {
  color: #1b2d2f;
  font-family: "Oregano", cursive;
  margin-top: 21px;
  margin-bottom: 10.5px;
}

.section_story__quote .qoute__text {
  margin: 0 0 10.5px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #666666;
}

.section_story__quote .qoute__author {
  font-family: "Oregano", cursive;
  color: #f1ae2b;
  font-size: 19px;
}

@media (max-width: 767px) {
  .section_header .container .section__heading {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .section_story {
    padding: 0px 0px 20px 0;
  }
  .section_story__quote {
    margin-top: 30px;
  }
}

/* contact page */

.section_caption {
  text-align: center;
  padding: 0 20%;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  line-height: 1.42857143;
  color: #666666;
}

.section_contacts__item {
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 35px;
  border: 1px solid #eee;
  box-shadow: 0px 5px 20px 0px rgba(99, 99, 99, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section_contacts__item .item__title {
  color: #1b2d2f;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}

.section_contacts__item > i {
  color: #f5f5f5;
  font-size: 60px;
  margin: 20px 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section_contacts__item .item__content {
  margin: 10px 0;
  color: #1b2d2f;
}

.section_contacts__item:hover > i {
  color: #f1ae2b;
}

.section_contacts__item .contact_social__item {
  display: inline-block;
  margin: 0 10px;
}

.section_contacts__item a {
  color: #1b2d2f;
}

.section_contacts__item a:hover {
  color: #f1ae2b;
}

.section_contacts {
  padding: 80px 0;
}

.section_map-heading .contacts_form__body {
  padding: 10px 100px 50px 100px;
  margin: 0 50px;
}

@media (max-width: 767px) {
  .section_map-heading .contacts_form__body {
    padding: 0 0 50px 0;
    margin: 0 30px;
  }
}

/* Restaurant Menu */

.section_menu {
  padding-top: 50px;
  padding-bottom: 100px;
}

.tab {
  float: left;
  background-color: #f1ae2b !important;
  width: 21%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.tab button.active {
  background-color: Black !important;
}

.tab button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: inherit;
  color: white !important;
  padding: 14px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
  border: 1px solid;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 79%;
  border-left: none;
}

.section_menu .menu__text-grid .menu__item > h3 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  color: #1b2d2f;
  margin-top: 0;
  position: relative;
  font-size: 19px;
  border-bottom: 1px dashed #1b2d2f;
  padding: 10px 0;
}

.section_menu .menu__text-grid .menu__item .dish_info {
  font-size: 15px;
}

.section_menu .menu__text-grid .menu__item > h3 > .price {
  color: #f1ae2b;
  float: right;
  font-weight: 400;
  margin-top: -12px;
  font-size: 27px;
  font-family: "Oregano", cursive;
}

.section_menu .menu__text-grid .menu__item > h3 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  color: #1b2d2f;
  margin-top: 0;
  position: relative;
  font-size: 19px;
  border-bottom: 1px dashed #1b2d2f;
  padding: 10px 0;
  font-family: "Oregano", cursive;
}

.section_menu .container {
  content: " ";
  display: table;
}

.section_menu .menu__text-grid .menu__item {
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .tab {
    width: 27%;
  }
  .tabcontent {
    width: 73%;
  }
  .tab button {
    font-size: 11px;
    padding: 7px 7px;
  }
  .section_menu .menu__text-grid .menu__item > h3 {
    font-size: 13px;
  }
  .section_menu .menu__text-grid .menu__item > h3 .price {
    font-size: 15px;
  }
  .section_menu {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

/* takwaway Menu */
.section_caption {
  text-align: center;
  padding: 0 20%;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_caption a img {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .section_caption {
    padding: 0 10%;
    margin-bottom: 30px;
  }
}
