@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}

/* navbar custom css */
.navbar {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 50;
}

.navbarDark {
  background-color: rgba(0, 0, 0, 1);
  transition: all 1s;
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}
.nav-item {
  text-transform: uppercase;
}
.nav-link {
  color: white !important;
  padding: 10px 15px !important;
}

.navbar-nav .dropdown-menu {
  color: black !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: #f1ae2b !important;
  border-bottom: 2px solid #f1ae2b !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f1ae2b !important;
  border-bottom: 2px solid #f1ae2b !important;
  transition-duration: 0.3s;
}

@media (max-width: 765px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: none !important;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    border: 0.5px solid white;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: beige !important;
  }
}

/* welcome section custom css */

.section_welcome {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.section_welcome h1 {
  color: #f1ae2b;
  font-size: 90px;
  letter-spacing: 10px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .section_welcome h1 {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .section_welcome h1 {
    font-size: 40px;
  }
}
.welcome_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  background: #000000 url(./img/hero.jpg) no-repeat center center / cover;
  z-index: -10;
  background-attachment: fixed;
}

.welcome_bg:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 555;
}

.welcome_content_subheading {
  font-size: 23px;
  font-family: "Oregano", cursive;
  letter-spacing: 0.05em;
}

.welcome_content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.welcome_content_logo i {
  display: block;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 15px;
}

.welcome_content_caption {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin: 10px 0 40px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.btn-default {
  background-color: #fce29b;
  border-color: #f1ae2b;
  color: #1b2d2f;
  transition: all 0.3s ease-out;
}
.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 25px;
}

.btn-default:hover {
  background-color: #c3850d;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .welcome_content_caption {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

/* About section custom css */

.section_about {
  margin-top: -50px;
  background-color: #ffffff;
  padding-top: 80px;
}

.section_title {
  color: #1b2d2f;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin: 35px 0;
  font-family: "Oregano", cursive;
  z-index: 10;
}

.section_about .section_title:before {
  content: "Story";
  position: absolute;
  top: -75%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #e7e7e7;
  font-size: 110px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 20px;
}

.section_about .section_title > span {
  z-index: 999;
  position: relative;
}

.section_title_line {
  border: none;
  height: 5px;
  width: 150px;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    #f1ae2b 50%,
    transparent 100%
  );
  background: linear-gradient(
    to right,
    transparent 0%,
    #f1ae2b 50%,
    transparent 100%
  );
}

.section_caption {
  text-align: center;
  padding: 0 20%;
  margin-bottom: 80px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .section_title {
    font-size: 25px;
    margin: 10px 0;
  }
  .section_about .section_title:before {
    font-size: 60px;
    letter-spacing: 15px;
  }

  .section_about .section_caption {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0 5%;
  }
}

.section_about_row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: #ffffff;
}

.section_about_row .about_img {
  width: 50%;
}

.section_about_row .about_img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section_about_row .about_desc {
  width: 50%;
  padding: 0 100px;
}

.section_about_row .about_desc_title {
  color: #1b2d2f;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .section_about_row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
  }
  .section_about_row .about_desc {
    padding: 30px 15px;
    width: 100%;
  }
  .section_about_row .about_img {
    width: 100%;
    order: -1;
  }
  .section_about_row .about_desc_title {
    font-size: 30px;
  }
}

/* slogan section */

.section_slogan {
  background: url(./img/hero.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.section_slogan:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section_slogan .slogan_title {
  color: #f1ae2b;
  font-size: 95px;
  font-family: "Oregano", cursive;
}

.section_slogan .slogan_caption {
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8em;
  padding: 20px;
}

@media (max-width: 767px) {
  .section_slogan .slogan_title {
    font-size: 45px;
  }
  .section_slogan {
    padding: 60px 0;
    background-attachment: scroll;
  }
  .section_slogan .slogan_caption {
    font-size: 15px;
    padding: 15px;
  }
}

.section_gallery {
  background-color: #ffff;

  padding-top: 50px;
  padding-bottom: 100px;
}

.section_gallery .section_title:before {
  content: "Gallery";
  position: absolute;
  top: -75%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #e7e7e7;
  font-size: 110px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 20px;
  z-index: -1;
}

@media (max-width: 767px) {
  .section_gallery .section_title:before {
    font-size: 55px;
    letter-spacing: 8px;
  }
  .section_gallery {
    padding-bottom: 30px;
  }
}

/* gallery grid */

.gallery__grid .gallery__item > a {
  position: relative;
  display: block;
  text-decoration: none;
}

.gallery__grid .gallery__item {
  padding: 10px;
}

.section_gallery .gallery__grid .gallery__item > a:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(27, 45, 47, 0.6);
}

.gallery__grid .gallery__item > a:hover:before,
.gallery__grid .gallery__item > a:hover:after {
  opacity: 1;
}

.gallery__grid .gallery__item > a:before,
.gallery__grid .gallery__item > a:after {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
}

.section_gallery .gallery__grid .gallery__item > a:after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-weight: 900;
  font-size: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  max-height: 100%;
}
